# Working with (long-form) perfomance data
#### Jose M Hernandez
#### 1/27/2017

##### You will often have a data file that is stacked along several important characteristics of a single school.  For example, the NJ data contains multiple lines of the same school (repeated observations) pertaining to grade level and subjects across multiple performance categories.

In [3]:
options(warn=-1)
library(dplyr)
file <- "~/Downloads/NJData/NJ 2011-2012 performance report database.csv" 
data <- read.csv(file, header=TRUE,stringsAsFactors = F,fileEncoding="latin1")

names(data)

 [1] "COUNTY_CODE"
 [2] "DISTRICT_CODE"
 [3] "SCHOOL_CODE"
 [4] "TESTPRG"
 [5] "SUBJECT"
 [6] "All.students....partially.proficient"
 [7] "All.students....proficient"
 [8] "All.students....advanced"
 [9] "White.students....partially"
[10] "White.students....proficient"
[11] "White.students....advanced.proficient"
[12] "Black.students...partially"
[13] "Black.students...proficient"
[14] "Black.students...advanced.proficient"
[15] "Asian.students....partially.proficient"
[16] "Asian.students....proficient"
[17] "Asian.students....advanced.proficient"
[18] "American.Indian.alaska.native.students....partially.proficient"
[19] "American.Indian.alaska.native.students....proficient"
[20] "American.Indian.alaska.native.students....advanced.proficient"
[21] "Hispanic.students...partially.proficient"
[22] "Hispanic.students...proficient"
[23] "Hispanic.students...advanced.proficient"
[24] "Other.students....partially.proficient"
[25] "Other.students....proficient"
[26] "Other.students....advanced.proficient"
[27] "Students.with.disabilities....partially.proficient"
[28] "Students.with.disabilities....proficient"
[29] "Students.with.disabilities....advanced.proficient"
[30] "LEP....partially.proficient"
[31] "LEP....proficient"
[32] "LEP....advanced.proficient"
[33] "Economically.disadvantaged.students....partially.proficient"
[34] "Economically.disadvantaged.students....proficient"
[35] "Economically.disadvantaged.students....advanced.proficient"

###### Please make sure you also rename these before you start doing the next data wrangling and summary steps, it really does make your code much cleaner...

In [18]:
head(data[order(data$SCHOOL_CODE),], 15)

     COUNTY_CODE DISTRICT_CODE SCHOOL_CODE TESTPRG SUBJECT
4690 13          3570          2           NJASK6  ELA
4691 13          3570          2           NJASK6  Math
4692 13          3570          2           NJASK7  ELA
4693 13          3570          2           NJASK7  Math
4694 13          3570          2           NJASK8  ELA
4695 13          3570          2           NJASK8  Math
4696 13          3570          2           NJASK8  Science
6189 17          2390          2           NJASK8  ELA
6190 17          2390          2           NJASK8  Math
6191 17          2390          2           NJASK8  Science
8857 25          2290          3           NJASK3  ELA
8858 25          2290          3           NJASK3  Math
8859 25          2290          3           NJASK4  ELA
8860 25          2290          3           NJASK4  Math
8861 25          2290          3           NJASK4  Science
     All.students....partially.proficient All.students....proficient
4690 NA                                   NA
4691 NA                                   NA
4692 NA                                   NA
4693 NA                                   NA
4694 80                                   20
4695 NA                                   NA
4696 87                                   13
6189  0                                   92
6190  0                                   77
6191  8                                   69
8857 11                                   81
8858 11                                   47
8859 23                                   75
8860  6                                   34
8861  6                                   28
     All.students....advanced White.students....partially
4690 NA                       NA
4691 NA                       NA
4692 NA                       NA
4693 NA                       NA
4694  0                       NA
4695 NA                       NA
4696  0                       NA
6189  8                       NA
6190 23                       NA
6191 23                       NA
8857  9                       12
8858 42                       12
8859  2                       24
8860 60                        6
8861 66                        6
     White.students....proficient ⋯ Other.students....advanced.proficient
4690 NA                           ⋯ NA
4691 NA                           ⋯ NA
4692 NA                           ⋯ NA
4693 NA                           ⋯ NA
4694 NA                           ⋯ NA
4695 NA                           ⋯ NA
4696 NA                           ⋯ NA
6189 NA                           ⋯ NA
6190 NA                           ⋯ NA
6191 NA                           ⋯ NA
8857 82                           ⋯ NA
8858 46                           ⋯ NA
8859 73                           ⋯ NA
8860 35                           ⋯ NA
8861 31                           ⋯ NA
     Students.with.disabilities....partially.proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857 13
8858 20
8859 55
8860 18
8861 18
     Students.with.disabilities....proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857 80
8858 53
8859 45
8860 55
8861 36
     Students.with.disabilities....advanced.proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857  7
8858 27
8859  0
8860 27
8861 45
     LEP....partially.proficient LEP....proficient LEP....advanced.proficient
4690 NA                          NA                NA
4691 NA                          NA                NA
4692 NA                          NA                NA
4693 NA                          NA                NA
4694 79                          21                 0
4695 NA                          NA                NA
4696 86                          14                 0
6189 NA                          NA                NA
6190 NA                          NA                NA
6191 NA                          NA                NA
8857 NA                          NA                NA
8858 NA                          NA                NA
8859 NA                          NA                NA
8860 NA                          NA                NA
8861 NA                          NA                NA
     Economically.disadvantaged.students....partially.proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857 NA
8858 NA
8859 NA
8860 NA
8861 NA
     Economically.disadvantaged.students....proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857 NA
8858 NA
8859 NA
8860 NA
8861 NA
     Economically.disadvantaged.students....advanced.proficient
4690 NA
4691 NA
4692 NA
4693 NA
4694 NA
4695 NA
4696 NA
6189 NA
6190 NA
6191 NA
8857 NA
8858 NA
8859 NA
8860 NA
8861 NA

##### Notice that we have grade specific categories "NJASK#" Subject_Area "ELA or Math or Science"  for each school. We want a single school X by both ELA and Math (wide format). We will need to aggregate the grade level information across proficiency categories and by Subject.  
##### Let's test out the aggregation using dplyr I'm combining subjects by school. In the case where there are multiple grades of the subject I want to average out the percentages (not ideal, counts would be prefered then we could calculate the percentage after the aggregation but NJ doesn't provide counts).

In [28]:
NJ = data %>%
  group_by(COUNTY_CODE,DISTRICT_CODE,SCHOOL_CODE,SUBJECT) %>%
  summarise(number = n())
head(NJ[order(NJ$SCHOOL_CODE),],10)

   COUNTY_CODE DISTRICT_CODE SCHOOL_CODE SUBJECT number
1  13          3570          2           ELA     3
2  13          3570          2           Math    3
3  13          3570          2           Science 1
4  17          2390          2           ELA     1
5  17          2390          2           Math    1
6  17          2390          2           Science 1
7  25          2290          3           ELA     3
8  25          2290          3           Math    3
9  25          2290          3           Science 1
10 13          1465          5           ELA     1

##### The "number" indicates the # of elements aggregated for this [school X subject X grade].  Let's see if this checks out.
Let's look at school "2" in the two different districts "3570" & "2390", and ask "Did the aggregation capture all the information?

In [29]:
dtest = data[which(data$SCHOOL_CODE == 2),]
dtest[1:10,1:5] #Captures all school 2 entries

     COUNTY_CODE DISTRICT_CODE SCHOOL_CODE TESTPRG SUBJECT
4690 13          3570          2           NJASK6  ELA
4691 13          3570          2           NJASK6  Math
4692 13          3570          2           NJASK7  ELA
4693 13          3570          2           NJASK7  Math
4694 13          3570          2           NJASK8  ELA
4695 13          3570          2           NJASK8  Math
4696 13          3570          2           NJASK8  Science
6189 17          2390          2           NJASK8  ELA
6190 17          2390          2           NJASK8  Math
6191 17          2390          2           NJASK8  Science

School 2 in district 3570 has: 
3 "ELA" entries
3 "Math" entries 
1 "Science" entry 

##### Great!
##### After that check you can do the aggregation using the following:

In [30]:
NJ = data.frame(data %>%
  subset(SUBJECT == "Math" | SUBJECT == "ELA") %>% #we only want ELA and Math
  group_by(COUNTY_CODE,DISTRICT_CODE,SCHOOL_CODE,SUBJECT) %>%
  summarise(number = n(), #Keep as a check
            part_prf = mean(All.students....partially.proficient, na.rm=T), 
            prf = mean(All.students....proficient, na.rm=T),
            adv = mean(All.students....advanced, na.rm=T)))

### Reshaping 
The last step in getting the data to meet the "one-line per school" criteria requires you to "cast" the subject by the performance columns.  I use "reshape" an older tool but solid.

In [31]:
wdata <- reshape(NJ, 
                 timevar = "SUBJECT",
                 idvar = c("COUNTY_CODE","DISTRICT_CODE","SCHOOL_CODE"),
                 direction = "wide")

head(wdata,10)

   COUNTY_CODE DISTRICT_CODE SCHOOL_CODE number.ELA part_prf.ELA prf.ELA
1  1            10            50         3          25.66667     71.33333
3  1            10            60         2          39.50000     60.50000
5  1           110            30         6          54.50000     45.16667
7  1           110            50         6          25.00000     71.16667
9  1           110            60         5          57.80000     40.80000
11 1           110            70         6          69.00000     31.00000
13 1           110            80         6          62.83333     36.66667
15 1           110           100         4          62.75000     37.25000
17 1           110           120         4          42.50000     54.75000
19 1           110           140         6          60.33333     39.33333
   adv.ELA   number.Math part_prf.Math prf.Math adv.Math
1  3.6666667 3           26.00000      49.00000 25.000000
3  0.0000000 2           21.50000      53.50000 24.500000
5  0.3333333 6           32.00000      50.00000 17.666667
7  3.6666667 6           13.16667      49.16667 37.833333
9  1.4000000 5           38.40000      40.00000 21.800000
11 0.0000000 6           60.66667      33.83333  5.333333
13 0.5000000 6           55.00000      37.66667  7.333333
15 0.0000000 4           33.25000      48.00000 18.500000
17 3.0000000 4           29.50000      40.25000 30.250000
19 0.1666667 6           52.00000      39.16667  9.166667

### Don't subset and seperate a long file to get these same results!